:root {
  --client-height: 0;
  --grid-size: 300px;
  --grid-columns: 4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: white;
  background-color: white;
  width: auto;
  height: var(--client-height);
  min-height: var(--client-height);
  position: relative;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
  padding: 1rem 1.3rem;
}

main {
  width: 100%;
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > * {
  margin: 0.5rem;
}

main header {
  display: inherit;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main header #gameTitle {
  color: #999;
  padding: 1em 1em 0;
}

main header .action_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .action_btn button {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#24cf24), to(#0ab10a));
  background: linear-gradient(#24cf24, #0ab10a);
  margin: 0.5rem 0.3rem 0;
  border: none;
  border-radius: 0.3rem;
}

main header .action_btn button:disabled {
  opacity: 0.5;
}

main header .action_btn button:not(:disabled):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#39d539), to(#11c511));
  background: linear-gradient(#39d539, #11c511);
}

main header .score p {
  min-width: 150px;
  color: #333;
  background-color: #f1ce9f;
  border: 3px solid #e09128;
  border-radius: 7px;
  padding: 1em;
  margin: 0.5em;
  font-size: 0.7rem;
  font-weight: bolder;
}

main header .score p span {
  font-size: 1rem;
}

main #grid {
  --size: calc(var(--grid-size) / var(--grid-columns));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--size))[var];
      grid-template-columns: repeat(var(--grid-columns), var(--size));
  -ms-grid-rows: (var(--size))[var];
      grid-template-rows: repeat(var(--grid-columns), var(--size));
  grid-gap: 8px;
}

main #grid .cell {
  border-radius: 10px;
  background-color: #444;
}

main #grid .cell > div {
  height: 100%;
  font-weight: bold;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #grid .cell > div.color2 {
  background-color: #d04e4e;
}

main #grid .cell > div.color4 {
  background-color: #d0734e;
}

main #grid .cell > div.color8 {
  background-color: #d0974e;
}

main #grid .cell > div.color16 {
  background-color: #d0bc4e;
}

main #grid .cell > div.color32 {
  background-color: #bfd04e;
}

main #grid .cell > div.color64 {
  background-color: #9ad04e;
}

main #grid .cell > div.color128 {
  background-color: #75d04e;
}

main #grid .cell > div.color256 {
  background-color: #50d04e;
}

main #grid .cell > div.color512 {
  background-color: #4ed070;
}

main #grid .cell > div.color1024 {
  background-color: #4ed095;
}

main #grid .cell > div.color2048 {
  background-color: #4ed0ba;
}

main #grid .cell > div.color4096 {
  background-color: #4ec1d0;
}

main #grid .cell > div.color8192 {
  background-color: #4e9cd0;
}

main #grid .cell > div.color16384 {
  background-color: #4e77d0;
}

main #grid .cell > div.color32768 {
  background-color: #4e52d0;
}

main #grid .cell > div.color65536 {
  background-color: #6e4ed0;
}

main #grid .cell > div.color131072 {
  background-color: #934ed0;
}

#prompt {
  width: 100%;
  min-height: 100vh;
  border: none;
  background-color: #5555;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#prompt.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#prompt .card {
  width: 80vw;
  max-width: 600px;
  background-color: white;
  border-radius: 1.5em;
}

#prompt .card .message {
  color: #333;
  font-size: 1.5em;
  padding: 1em;
}

#prompt .card .action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#prompt .card .action button {
  border: none;
  padding: 1rem 1.5rem;
  margin: 0.5em 0.25em;
  border-radius: 0.5em;
}

#prompt .card .action button.continue {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#e09128), to(#ca8d3e));
  background: linear-gradient(#e09128, #ca8d3e);
}
