@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Sigmar+One&display=swap');
:root {
	--client-height: 0;
	--grid-size: 0;
	--grid-columns: 4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 1rem;
	font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}
body {
	color: #ffffff;
	background-color: #333333;
	width: 100vw;
	height: var(--client-height);
	min-height: var(--client-height);
	position: relative;
	overscroll-behavior: none;
}
h1,
h2,
h3 {
	font-family: 'Sigmar One', cursive;
	color: #dddddd;
}
.help_icon {
	width: inherit;
	height: inherit;
}
.tips-list {
	list-style-type: number;
	list-style-position: inside;
	max-width: max-content;
	text-align: left;
	margin: 0 auto;

	li:nth-child(odd) {
		background-color: #585858;
	}
	li:nth-child(even) {
		background-color: #505050;
	}
}
button {
	cursor: pointer;
	padding: 1rem 1.3rem;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	> * {
		margin: 0.5rem;
	}

	header {
		display: inherit;
		justify-content: stretch;
		align-items: stretch;

		#gameTitle {
			text-align: center;
			color: #999999;
			padding-top: 1em;
		}

		.action_btn {
			display: flex;
			justify-content: center;

			button {
				font-weight: bold;
				color: #eeeeee;
				background: linear-gradient(#24cf24, #0ab10a);
				margin: 0.5rem 0.3rem 0;
				border: none;
				border-radius: 0.3rem;

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}

				&:not(:disabled):hover {
					background: linear-gradient(#39d539, #11c511);
				}
			}
		}

		.score p {
			min-width: 150px;
			color: #333333;
			background-color: #f1ce9f;
			border: 3px solid #e09128;
			border-radius: 7px;
			padding: 1em;
			margin: 0.5em;
			font-size: 0.7rem;
			font-weight: bolder;

			span {
				font-size: 1rem;
			}
		}
	}

	#grid {
		--size: calc(var(--grid-size) / var(--grid-columns));
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: repeat(var(--grid-columns), var(--size));
		grid-template-columns: repeat(var(--grid-columns), var(--size));
		-ms-grid-rows: repeat(var(--grid-columns), var(--size));
		grid-template-rows: repeat(var(--grid-columns), var(--size));
		grid-gap: 8px;

		.cell {
			border-radius: 10px;
			background-color: #444444;

			> div {
				width: 100%;
				height: 100%;
				font-family: 'Sigmar One', cursive;
				font-size: 1.3em;
				color: #ffffffdd;
				border-radius: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: transform 0.25s ease;

				$value: 2;
				$hue: 0;
				@while $value <= 131072 {
					&.color#{$value} {
						background-color: hsl($hue, 58%, 56%);
					}
					$value: $value + $value;
					$hue: $hue + 17;
				}
			}
		}
	}

	#about-toggler {
		padding: 0;
		background-color: #4ed0baaa;
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		border: none;
		border-radius: 50%;
		z-index: 1;
	}

	footer {
		font-size: 1.2em;
		color: #999999;
		text-align: center;
		h6 {
			padding-top: 1.5em;
		}
	}
}

#about-section {
	font-size: 1.2em;
	overflow-y: scroll;
	text-align: center;
	position: absolute;
	inset: 0;
	background-color: #333333cc;
	display: none;

	&.show {
		display: block;
	}

	&::-webkit-scrollbar {
		background-color: #444444;
		max-width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #ffffff;
	}

	> * {
		margin: 2em auto;
		max-width: 800px;
	}

	.note {
		font-size: 0.9em;
		text-align: left;
		background-color: #241803;
		max-width: max-content;
		border-left: 3px solid #ffa500;
	}

	h1 {
		font-size: 2.5em;
		padding: 0.8em 1em;
	}
	h4 {
		padding: 0.8em 1em;
	}
	p {
		padding: 1.5em;
		padding-top: 0;
		line-height: 2em;
		color: #dddddd;
	}
	li {
		padding: 1em;
		line-height: 1em;
		color: #cccccc;
	}
	a.download-link,
	.wikihow-details {
		font-size: 1.2em;
		padding: 1em 1.2em;
	}
	a.download-link {
		display: inline-block;
		text-decoration: none;
		background-color: #000000;
		border-radius: 0.3em;
		margin: 1em;

		&:hover {
			text-decoration: underline;
		}
	}
	a {
		color: #4ed0ba;
		font-weight: bold;
		text-decoration: underline;
	}
	em {
		font-weight: initial;
	}
}

#prompt {
	border: none;
	background-color: #55555555;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	z-index: 2;

	&.open {
		display: flex;
	}

	.card {
		width: 80vw;
		max-width: 600px;
		background-color: #ffffff;
		border-radius: 1.5em;

		.message {
			color: #333333;
			font-size: 1.5em;
			padding: 1em;
		}

		.action {
			width: 100%;
			display: flex;
			justify-content: center;
			align-content: center;

			button {
				border: none;
				padding: 1rem 1.5rem;
				margin: 0.5em 0.25em;
				border-radius: 0.5em;

				&.continue {
					color: #ffffff;
					background: linear-gradient(#e09128, #ca8d3e);
				}
			}
		}
	}
}
